#loginForm {
  display: flex;
  flex-flow: column wrap;
  /*line 5 is for the position of contents in the container*/
  justify-content: center;
  /*line 7 is for aligning the container to the center of page*/
  align-items: center;
  /*right now the page is 100vh in height*/
  height: 100vh;
}

.trademark {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.label {
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#usernameInput, #passwordInput {
    width: 260px;
}

.input {
  margin-bottom: 10px;
}

#loginButton, #registerButton {
    width: 80px;
    height: 30px;
}

#justifyCenterRegisterButton,
#justifyCenterLoginButton {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/*
Margin is the distance between the border of 1 content to another
Padding is the distance between the content and its border
*/
